.text-area {
  position: relative;
  & > .sizer {
    white-space: pre-wrap;
    min-height: 110px;
    background-color: rgba(128, 128, 128, 0.2);
    margin: 4px 0;
    font-size: 14px;
    line-height: 22px;
  }
  
  textarea {
    resize: none;
    
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
  
    font-size: 14px;
    line-height: 22px;
  
    overflow: hidden;
  
    margin: 4px 0;
  }
}